@font-face {
  font-family: "AkazukinPop";
  src: url("../font/AkazukiPOP.otf");
}

body {
  margin: 0;
  font-size: 30px;
  font-family: AkazukinPop;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#logo {
  width: 326px;
  height: 326px;
  margin-left: 46px;
}

#container {
  position: relative;
  mix-blend-mode: multiply;
  transition: 10s;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4),
    inset 0 0 30px rgba(0, 0, 0, 0.4), inset 0 0 30px rgba(0, 0, 0, 0.4),
    inset 0 0 30px rgba(0, 0, 0, 0.4);
}

#container.setup {
  box-shadow: none;
}

#twitter_head_icon {
  width: 51px;
  height: 41px;
}

#twitter_head {
  color: rgb(3, 169, 244);
  font-size: 30px;
}

header {
  display: flex;
  flex-direction: column;
  margin-left: -9px;
  position: absolute;
  z-index: 1;
}

#twitter_head {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  width: 340px;
  height: 68px;
  background-color: #c3dafb;
  border-radius: 5px;
  position: relative;
}

#twitter_head:after {
  content: "";
  right: -19px;
  top: 0;
  position: absolute;
  display: inline-flex;
  align-items: center;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 68px solid transparent;
  border-left: 20px solid transparent;
  border-top: 68px solid #c3dafb;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(133, 113, 99);
  color: #554433;
  height: 50px;
  padding: 10px;
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#tweet {
  background-color: rgb(195, 218, 250);
  color: #13b6ff;
  position: absolute;
  width: 460px;
  height: 255px;
  padding: 10px 10px 10px 20px;

  border-radius: 8px;
  left: -470px;
  top: 325px;
  font-size: 20px;
  line-height: 29px;
  z-index: 5;
  transition: 0.4s ease;
}

#tweet.active {
  left: -10px;
}

.canvas_area {
  /* 文字等の情報埋め込み用のスペースに一時的に着色 */
  background-color: red;
  opacity: 0.5;
}
