.twitter-enter-active[data-v-999ffabe]{transition:.4s ease}.twitter-leave-active[data-v-999ffabe]{transition:.4s ease}.twitter-enter[data-v-999ffabe],.twitter-leave-to[data-v-999ffabe]{left:-10px}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* reset CSS */

@font-face {
  font-family: "AkazukinPop";
  src: url(../font/AkazukiPOP.otf);
}

body {
  margin: 0;
  font-size: 30px;
  font-family: AkazukinPop;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#logo {
  width: 326px;
  height: 326px;
  margin-left: 46px;
}

#container {
  position: relative;
  mix-blend-mode: multiply;
  transition: 10s;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4),
    inset 0 0 30px rgba(0, 0, 0, 0.4), inset 0 0 30px rgba(0, 0, 0, 0.4),
    inset 0 0 30px rgba(0, 0, 0, 0.4);
}

#container.setup {
  box-shadow: none;
}

#twitter_head_icon {
  width: 51px;
  height: 41px;
}

#twitter_head {
  color: rgb(3, 169, 244);
  font-size: 30px;
}

header {
  display: flex;
  flex-direction: column;
  margin-left: -9px;
  position: absolute;
  z-index: 1;
}

#twitter_head {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  width: 340px;
  height: 68px;
  background-color: #c3dafb;
  border-radius: 5px;
  position: relative;
}

#twitter_head:after {
  content: "";
  right: -19px;
  top: 0;
  position: absolute;
  display: inline-flex;
  align-items: center;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 68px solid transparent;
  border-left: 20px solid transparent;
  border-top: 68px solid #c3dafb;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(133, 113, 99);
  color: #554433;
  height: 50px;
  padding: 10px;
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#tweet {
  background-color: rgb(195, 218, 250);
  color: #13b6ff;
  position: absolute;
  width: 460px;
  height: 255px;
  padding: 10px 10px 10px 20px;

  border-radius: 8px;
  left: -470px;
  top: 325px;
  font-size: 20px;
  line-height: 29px;
  z-index: 5;
  transition: 0.4s ease;
}

#tweet.active {
  left: -10px;
}

.canvas_area {
  /* 文字等の情報埋め込み用のスペースに一時的に着色 */
  background-color: red;
  opacity: 0.5;
}

.info_box {
  width: 420px;
  height: 250px;
  background-color: rgba(234, 225, 216, 0.6);
  margin-top: 600px;
  margin-left: 40px;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}

.info_box_time {
  width: 420px;
  height: 140px;
  background-color: rgba(234, 225, 216, 0.6);
  border-radius: 5px;
  top: 870px;
  left: 40px;
  color: rgb(55, 44, 33);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

#main .title_area {
  background-color: rgba(234, 225, 216, 0.6);
  border-radius: 5px;
  color: rgb(55, 44, 33);
  width: 1400px;
  height: 172px;
  padding: 5px 20px;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 40px;
}

#main .title {
  font-size: 45px;
  line-height: 60px;
}

.screen_area {
  top: 222px;
  left: 480px;
  position: absolute;
  height: 789px;
  width: 1400px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.screen_area .video {
  width: 1050px;
  height: 100%;
  background: #aaa;
}

.screen_area .video.size_16x9 {
  width: 100%;
}

.category {
  padding-left: 45px;
}

.time_area {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  display: block;
}

.info_box .canvas_area {
  display: block;
  height: 100%;
  width: 100%;
}

.icon_timer {
  position: absolute;
  left: 20px;
  top: 30px;
  height: 50px;
  width: 50px;
}

.canvas_area.time_area {
  width: calc(100% - 90px);
  right: 10px;
  top: 10px;
  left: auto;
  height: calc(100% - 50px);
}


