.twitter-enter-active[data-v-999ffabe]{transition:.4s ease}.twitter-leave-active[data-v-999ffabe]{transition:.4s ease}.twitter-enter[data-v-999ffabe],.twitter-leave-to[data-v-999ffabe]{left:-10px}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* reset CSS */

@font-face {
  font-family: "AkazukinPop";
  src: url(../font/AkazukiPOP.otf);
}

body {
  margin: 0;
  font-size: 30px;
  font-family: AkazukinPop;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#logo {
  width: 326px;
  height: 326px;
  margin-left: 46px;
}

#container {
  position: relative;
  mix-blend-mode: multiply;
  transition: 10s;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4),
    inset 0 0 30px rgba(0, 0, 0, 0.4), inset 0 0 30px rgba(0, 0, 0, 0.4),
    inset 0 0 30px rgba(0, 0, 0, 0.4);
}

#container.setup {
  box-shadow: none;
}

#twitter_head_icon {
  width: 51px;
  height: 41px;
}

#twitter_head {
  color: rgb(3, 169, 244);
  font-size: 30px;
}

header {
  display: flex;
  flex-direction: column;
  margin-left: -9px;
  position: absolute;
  z-index: 1;
}

#twitter_head {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  width: 340px;
  height: 68px;
  background-color: #c3dafb;
  border-radius: 5px;
  position: relative;
}

#twitter_head:after {
  content: "";
  right: -19px;
  top: 0;
  position: absolute;
  display: inline-flex;
  align-items: center;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 68px solid transparent;
  border-left: 20px solid transparent;
  border-top: 68px solid #c3dafb;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(133, 113, 99);
  color: #554433;
  height: 50px;
  padding: 10px;
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#tweet {
  background-color: rgb(195, 218, 250);
  color: #13b6ff;
  position: absolute;
  width: 460px;
  height: 255px;
  padding: 10px 10px 10px 20px;

  border-radius: 8px;
  left: -470px;
  top: 325px;
  font-size: 20px;
  line-height: 29px;
  z-index: 5;
  transition: 0.4s ease;
}

#tweet.active {
  left: -10px;
}

.canvas_area {
  /* 文字等の情報埋め込み用のスペースに一時的に着色 */
  background-color: red;
  opacity: 0.5;
}

.info_box {
  width: 446px;
  height: 295px;
  background-color: rgba(234, 225, 216, 0.6);
  border-radius: 5px;
  top: 30px;
  left: 1444px;
  position: absolute;
  z-index: 1;
}

#main .title_area {
  background-color: rgba(234, 225, 216, 0.6);
  border-radius: 5px;
  color: rgb(55, 44, 33);
  width: 954px;
  height: 175px;
  padding: 5px 10px;
  position: absolute;
  top: 30px;
  left: 470px;
  line-height: 45px;
  position: absolute;
  z-index: 1;
}

#main .title {
  font-size: 40px;
  line-height: 56px;
}

#main .category {
  padding-left: 45px;
}

.info_box .canvas_area {
  width: 100%;
  height: 100%;
  display: block;
}
.screen_area {
  position: absolute;
  height: 199px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.screen_area .video {
  width: 265px;
  height: 199px;
  background: #aaa;
}

.screen_area .video.size_16x9 {
  width: 100%;
}

.screen_area#screen_1 {
  position: absolute;
  height: 632px;
  width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.screen_area#screen_1 .video {
  width: 842px;
  height: 100%;
  background: #aaa;
}

.screen_area#screen_1 .video.size_16x9 {
  width: 100%;
}

.screen_area#screen_1 {
  top: 30px;
  bottom: auto;
  left: 770px;
  top: 378px;
  margin: auto;
}

.screen_area#screen_2 {
  top: 812px;
  bottom: auto;
  left: 400px;
  right: auto;
  margin: auto;
}

.screen_area#screen_3 {
  top: 812px;
  bottom: auto;
  left: 30px;
  right: 0;
}

.info_box#player_1 {
  top: 345px;
  left: 470px;
  background-color: rgba(234, 225, 216, 0.6);
  border-radius: 5px;
  height: 235px;
  width: 1420px;
  color: rgb(55, 44, 33);
}

.info_box#player_1 .canvas_area {
  width: 300px;
}

.info_box#player_2 {
  top: 727px;
  left: 30px;
  background-color: rgba(234, 225, 216, 0.6);
  border-radius: 4px;
  height: 85px;
  width: 350px;
  color: rgb(55, 44, 33);
}

.info_box#player_3 {
  top: 727px;
  left: 400px;
  background-color: rgba(234, 225, 216, 0.6);
  border-radius: 4px;
  height: 85px;
  width: 350px;
  color: rgb(55, 44, 33);
}

.info_box_time {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
  color: rgb(55, 44, 33);

  position: absolute;
  z-index: 1;
  top: 225px;
  left: 470px;
  background-color: rgba(234, 225, 216, 0.6);

  border-radius: 5px;
  height: 100px;
  width: 477px;
}

.time_area_wrapper {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  line-height: 50px;
  font-size: 50px;
  height: 50px;
}

.time_area_wrapper span {
  line-height: 50px;
  font-size: 50px;
  height: 50px;
  display: block;
}

.icon_timer {
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

.icon_timer {
  height: 55px;
  width: 55px;
  margin-right: 15px;
  margin-left: 25px;
}

.time {
  margin-right: 15px;
}

.icon_cont {
  height: 30px;
  width: 45px;
  margin-right: 0px;
}

.icon_speaker {
  height: 40px;
  width: 40px;
  display: none;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.player_time_area {
  font-size: 30px;
  line-height: 43px;
  width: 150px;
  text-align: left;
  margin-left: 60px;
}

.player_name {
  display: flex;
  align-items: center;
  padding-left: 3px;
  height: 43px;
}

.runner_area {
  font-size: 30px;
  white-space: nowrap;
}

.player_time {
  display: flex;
  align-items: center;
}

.player_time_area {
  display: none;
}

.player_time_area.active {
  display: block;
}

.active .icon_speaker {
  display: block;
}

#container .info_box.active {
  background: rgba(255, 217, 0, 0.8);
}

.info_box#player_1 {
  padding: 10px;
}

.info_box#player_1 .icon_cont {
  width: 75px;
  height: 50px;
  margin-bottom: 35px;
}

.info_box#player_1 .player_name {
  flex-direction: column;
  align-items: flex-start;
}

.info_box#player_1 .runner_area {
  font-size: 35px;
  line-height: 50px;
  white-space: initial;
  width: 275px;
  word-break: break-word;
}

.info_box#player_1 .icon_speaker {
  right: auto;
  bottom: 10px;
  left: 240px;
}

.info_box#player_1 .player_time_area {
  width: 153px;
}

.info_box#player_1 .player_time {
  display: flex;
  align-items: center;
  bottom: 5px;
  position: absolute;
}


